<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>name_card</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <div>
        <img src="../static/image.png" alt="personnal img">
        <h1>Mamadou Oury Barry</h1>
        <p>Senior Developper</p>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=61561144509025"><img src="../static/facebook.png" alt="facebook logo"/></a></li>
            <li><a href="https://www.instagram.com/mamad_oury/?next=%2Faccounts%2Fsignup%2F"><img src="../static/insta.png" alt="instagram logo"></a></li>
            <li><a href="mailto:mamadoury20046@gmail.com"><img src="../static/gmail.png" alt="gmail logo"></a></li>
        </ul>
    </div>

</body>
</html>